{% extends "layout.html" %}

{% block content %}      
        <!-- Portfolio Modals -->
      <!-- Portfolio Grid Section -->
      <section class="portfolio" id="portfolio">
            <div class="container">
              <h2 class="text-center text-uppercase text-secondary mb-0">Offers</h2>
              <hr class="star-dark mb-5">
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="/offers#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/cabin.png" alt="">
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/food.png" alt="">
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/nightout.png" alt="">
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/museums.png" alt="">
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/excursion.png" alt="">
                  </a>
                </div>
                <div class="col-md-6 col-lg-4">
                  <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                      <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fas fa-search-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="/static/img/portfolio/beach.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </section>


          <!-- Portfolio Modal 1 -->
 <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="/offers#portfolio-modal-1">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Rooms</h2>
                <br>
                <br>
                <img class="img-fluid mb-5" src="/static/img/portfolio/cabin.png" alt="">
                <p class="mb-5">City Center Rooms in Zadar features rooms with air conditioning and free WiFi.
                <br><a href="https://www.booking.com/hotel/hr/boutique-hostel-forum.hr.html?label=gen173nr-1DCAEoggI46AdIM1gEaGWIAQGYARC4AQjIAQzYAQPoAQGIAgGoAgM&sid=b615f1e5aff2a05dd283e8e069073c55&ucfs=1&srpvid=c17141088f8e03ad&srepoch=1549876497&hpos=1&hapos=1&dest_id=-101499&dest_type=city&sr_order=popularity&from=searchresults;highlight_room=#hotelTmpl"> *Boutique Hostel Forum </a>
                <br><a href=" https://www.booking.com/hotel/hr/mosaic-apartments.hr.html?label=gen173nr-1DCAEoggI46AdIM1gEaGWIAQGYARC4AQjIAQzYAQPoAQGIAgGoAgM&sid=b615f1e5aff2a05dd283e8e069073c55&ucfs=1&srpvid=c17141088f8e03ad&srepoch=1549876497&hpos=3&hapos=3&dest_id=-101499&dest_type=city&sr_order=popularity&from=searchresults;highlight_room=#hotelTmpl"> *Mosaic Apartments Old Town</a>
                <br><a href="https://www.booking.com/hotel/hr/apartments-la-vita.hr.html?label=gen173nr-1DCAEoggI46AdIM1gEaGWIAQGYARC4AQjIAQzYAQPoAQGIAgGoAgM&sid=b615f1e5aff2a05dd283e8e069073c55&ucfs=1&srpvid=82ef42160252000d&srepoch=1549877036&hpos=12&hapos=12&dest_id=-101499&dest_type=city&sr_order=popularity&from=searchresults;highlight_room=#hotelTmpl"> *Apartmens La Vita </a>
                </p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Portfolio Modal 2 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Restaurants</h2>
                <br>
                <br>
                <img class="img-fluid mb-5" src="/static/img/portfolio/food.png" alt="">
                <p class="mb-5">We offer you a list of the best restaurants in the Zadar.
                <br> <a href="https://www.tripadvisor.com/Restaurant_Review-g295374-d2208591-Reviews-Restaurant_Niko-Zadar_Zadar_County_Dalmatia.html"> *Restaurant Niko </a>
                <br> <a href="https://www.tripadvisor.com/Restaurant_Review-g295374-d1101147-Reviews-Fosa-Zadar_Zadar_County_Dalmatia.html"> *Restaurant Foša </a>
                <br> <a href="https://www.tripadvisor.com/Restaurant_Review-g295374-d2207142-Reviews-Restaurant_Bruschetta-Zadar_Zadar_County_Dalmatia.html"> *Restaurant Bruschetta </a>
                </p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Portfolio Modal 3 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Night out</h2>
                <br>
                <br>
                <img class="img-fluid mb-5" src="/static/img/portfolio/nightout.png" alt="">
                <p class="mb-5">The best Zadar clubs and bars: our local experts show you where to party.
                <br> <a href="https://www.timeout.com/croatia/bars-and-pubs/the-garden-lounge">*The Garden Lounge</a>
                <br> <a href="https://www.timeout.com/croatia/nightlife/arsenal">*Arsenal</a>
                <br> <a href="https://www.timeout.com/croatia/bars-and-pubs/q-bar">*QBar</a>
                </p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Portfolio Modal 4 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Museums</h2>
                <br>
                <br>
                <img class="img-fluid mb-5" src="/static/img/portfolio/museums.png" alt="">
                <p class="mb-5">The Dalmatian Town of Zadar has many unique features, but its museums are standing out as prime localities for foreign guests.
                <br> <a href="https://www.tripadvisor.com/Attraction_Review-g295374-d10400302-Reviews-Museum_of_Illusions-Zadar_Zadar_County_Dalmatia.html">*The Museum of Illusion </a>
                <br> <a href="https://www.tripadvisor.com/Attraction_Review-g295374-d3343063-Reviews-Museum_of_Ancient_Glass-Zadar_Zadar_County_Dalmatia.html">*The Museum of Ancient Glass </a>
                <br> <a href="https://www.tripadvisor.com/Attraction_Review-g295374-d3461406-Reviews-Archaeological_Museum_Zadar-Zadar_Zadar_County_Dalmatia.html">*The Archeological Museum of Zadar </a>
                </p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Portfolio Modal 5 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Excursions</h2>
                <br>
                <br>
                <img class="img-fluid mb-5" src="/static/img/portfolio/excursion.png" alt="">
                <p class="mb-5">Book popular Tours and Excursions from Zadar.
                <br> <a href="https://www.zadar.travel/en/city-guide/excursions/29-12-2010/np-kornati-islands">*Kornati Islands</a>
                <br> <a href="https://www.zadar.travel/en/city-guide/excursions/29-12-2010/pn-telascica">*PN Telascica </a>
                <br> <a href="https://www.zadarexcursions.com/tours/romantic-sunset-cruise-2/">*Romantic sunset cruise </a>
                </p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Portfolio Modal 6 -->
      <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
        <div class="portfolio-modal-dialog bg-white">
          <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
          </a>
          <div class="container text-center">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2 class="text-secondary text-uppercase mb-0">Beaches</h2>
                <br>
                <br>
                <img class="img-fluid mb-5" src="/static/img/portfolio/beach.png" alt="">
                <p class="mb-5">Zadar area is known for its crystal clear waters, a multitude of small islands and beautiful natural beaches.
                <br> <a href="https://www.tripadvisor.com/Attraction_Review-g295374-d7033976-Reviews-Borik_Beach-Zadar_Zadar_County_Dalmatia.html">*Borik Beach </a>
                <br> <a href="https://www.tripadvisor.com/Attraction_Review-g295374-d3368312-Reviews-Kolovare_Beach-Zadar_Zadar_County_Dalmatia.html">*Kolovare Beach </a>
                <br> <a href="https://www.tripadvisor.com/Attraction_Review-g295374-d14211193-Reviews-Beach_Uskok-Zadar_Zadar_County_Dalmatia.html">*Uskok Beach </a>
                </p>
                <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                  <i class="fa fa-close"></i>
                  Close</a>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}